{{extend './layout/index.html'}} {{block 'body'}} {{block 'head'}}
<title>login</title>
<meta name="description" content="login" />
<meta name="keywords" content="express" />
<style>
	body {
		background: aliceblue;
	}
</style>
{{/block}}
<div class="auth-page" id="login">
	${name}
	<div class="container page">
		<div class="row">
			<div class="col-md-6 offset-md-3 col-xs-12">
				<h1 class="text-xs-center">{{isLogin? 'Sign in':'Sign up'}}</h1>
				<p class="text-xs-center">
					<a href="">Have an account?</a>
				</p>

				<ul class="error-messages">
					<li>That email is already taken</li>
				</ul>

				<form @submit.prevent="submit">
					{{if !isLogin}}
					<fieldset class="form-group">
						<input class="form-control form-control-lg" type="text" placeholder="Your Name" />
					</fieldset>
					{{/if}}
					<fieldset class="form-group">
						<input class="form-control form-control-lg" type="text" placeholder="Email" v-model="email" />
					</fieldset>
					<fieldset class="form-group">
						<input
							class="form-control form-control-lg"
							type="password"
							placeholder="Password"
							v-model="password"
						/>
					</fieldset>
					<button class="btn btn-lg btn-primary pull-xs-right">{{isLogin? 'Sign in':'Sign up'}}</button>
				</form>
			</div>
		</div>
	</div>
</div>
{{/block}} {{block 'script'}}
<script>
	(() => {
		const app = Vue.createApp({
			compilerOptions: {
				delimiters: ['${', '}']
			},
			setup() {
				return {
					email: '',
					password: '',
					submit: () => {
						axios.post('/api/login', { name: app.email, password: app.password }).then(() => {
							location.href = '/';
						});
					}
				};
			}
		}).mount('#login');
	})();
</script>
{{/block}}
